@model CoatesWebsite.ViewModels.IndexVm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<head>
    <style>
        .galleryImageWrapper {
            position: relative;
            display: block;
            margin: 0 auto;
            height: 250px;
        }



        @@media (max-width: 991px) {
            .galleryImageWrapper {
               height: 75px !important;
            }
        }

        .galleryImage {
            max-width: 100%;
            height: auto;
        }

        .project-img{
            margin: auto;
            background-color: transparent !important;
        }

        .project-img-wrapper {
            background-color: #eef1ef !important;
        }

        .page-header-bg-img {
            background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255,255,255,0.4), rgba(255,255,255,0), rgba(255, 255,255,0)), url(../assets/img/uploads/WoodenGate.jpg);
        }

    </style>
</head>

<html lang="en">
<body>
    <a id="top"></a>
    <!-- Main image -->
    @*<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/summerhouse-front.jpg');">
        </div>*@
    <div class="page-header page-header-bg-img" data-parallax="true">
    </div>
    <!-- End Main Image -->
    <!-- Placeholder icons -->
    <div class="main text-center">
        <div style="background-color: #584f4a !important; text-align: center !important;">
            <div class="divider"></div>
            <div class="divider"></div>
            <img class="" style="width: 300px; display: inline " src="./assets/img/transparentlogo.png" />
        </div>
        <div class="section text-center">
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-album-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Gallery</h4>
                            <p class="description">Please take some time to browse through a photo gallery of some of my work.</p>
                            <a href="#gallery" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Renovations</h4>
                            <p>A selection of larger scale projects I have worked on.</p>
                            <a href="#projects" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-badge"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Contact me</h4>
                            <p>Feel free to get in touch with any quotes or enquiries.</p>
                            <a href="#contact" class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Placeholder icons -->
    <!-- About -->
    <div class="main text-center">
        <div class="section text-center">
            <div style="width:60% !important" class="container">
                <h2 class="text-center" style="color:#d1b181 !important">About</h2>
                <p>
                    <br />
                    Having worked in carpentry for more than a decade, I am well-equipped to undertake a range of projects, from complete refurbishments to roofing, 
                    worksurfaces, and fencing. In addition, I excel in crafting customized carpentry pieces. My hand-made furniture comes in a variety of styles, 
                    and I am confident in my ability to meet your specific preferences and requirements.
                    <br />
                    <br />
                </p>
            </div>
        </div>
    </div>
        <!-- End About -->
        <!-- Gallery -->
        <div class="main">
            <div class="section text-center">
                <a id="gallery"></a>
                <div style="background-color: #eef1ef !important">
                    <br />
                    <br />
                </div>
                <h2 class="text-center" style="color:#d1b181 !important">Gallery</h2>
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul id="tabs" class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#all" role="tab" aria-selected="true">
                                    All
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#carpentry" role="tab" aria-selected="false"> Bespoke Carpentry</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#furniture" role="tab" aria-selected="false"> Furniture</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#worktops" role="tab" aria-selected="false"> Kitchens & Work Surfaces</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="my-tab-content" class="tab-content text-center">
                    <div class="tab-pane active" id="all" role="tabpanel">
                        <div class="container">
                            <div class="row">
                                <div class="gallery" style="align-items:center">
                                    @foreach (CoatesWebsite.ViewModels.PictureVm pictureVm in Model.PictureVms)
                                    {
                                        <figure class="galleryImageWrapper">
                                            <img src=@pictureVm.Path alt="" class="galleryImage" />
                                        </figure>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="carpentry" role="tabpanel">
                        <div class="container">
                            <div class="row">
                                <div class="gallery">
                                    @foreach (CoatesWebsite.ViewModels.PictureVm pictureVm in Model.PictureVms
                               .Where(x => x.PictureCategory == CoatesWebsite.Data.Enums.PictureCategory.BespokeCarpentry))
                                    {
                                        <figure class="galleryImageWrapper">
                                            <img src=@pictureVm.Path alt="" class="galleryImage" />
                                        </figure>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="furniture" role="tabpanel">
                        <div class="tab-pane active" id="all" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="gallery">
                                        @foreach (CoatesWebsite.ViewModels.PictureVm pictureVm in Model.PictureVms
                                     .Where(x => x.PictureCategory == CoatesWebsite.Data.Enums.PictureCategory.Furniture))
                                        {
                                            <figure class="galleryImageWrapper">
                                                <img src=@pictureVm.Path alt="" class="galleryImage" />
                                            </figure>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="worktops" role="tabpanel">
                        <div class="tab-pane active" id="all" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="gallery">
                                        @foreach (CoatesWebsite.ViewModels.PictureVm pictureVm in Model.PictureVms
                                    .Where(x => x.PictureCategory == CoatesWebsite.Data.Enums.PictureCategory.ConcreteTops))
                                        {
                                            <figure class="galleryImageWrapper">
                                                <img src=@pictureVm.Path alt="" class="galleryImage" />
                                            </figure>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery end -->
        <!-- Projects -->
        <div class="main">
            <div class="section text-center">
                <a id="projects"></a>
                <div style="background-color: #eef1ef !important">
                    <br />
                    <br />
                </div>
                <h2 class="text-center" style="color: #d1b181 !important">Renovations</h2>
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul id="tabs" class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#summerhouse" role="tab" aria-selected="true">
                                    Summerhouse
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tregonwellroad" role="tab" aria-selected="false"> Tregonwell Road</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#ponsfordroad" role="tab" aria-selected="false"> Ponsford Road</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="my-tab-content" class="tab-content text-center">
                    @*Summer House*@
                    <div class="tab-pane active" id="summerhouse" role="tabpanel">
                        @*<p> Information about the Summerhouse project</p>*@
                        <div class="section pt-o" id="carousel-two">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 ml-auto mr-auto">
                                        <div class="card page-carousel">
                                            <div id="carouselExampleIndicatorsTwo" class="carousel slide" data-ride="carousel">
                                                <ol class="carousel-indicators">
                                                    @for (int i = 0; i < Model.SummerhousePictureVms.Count; i++)
                                                    {
                                                        <li data-target="#carouselExampleIndicatorsTwo" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                                                    }
                                                </ol>
                                                <div class="carousel-inner" role="listbox">
                                                    @for (int i = 0; i < Model.SummerhousePictureVms.Count; i++)
                                                    {
                                                        <div class="carousel-item @(i == 0 ? "active" : "")">
                                                            <img style="max-height:500px" class="d-block img-fluid" src="@Model.SummerhousePictureVms[i].Path" alt="First slide" />
                                                        </div>
                                                    }
                                                    <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicatorsTwo" role="button" data-slide="prev">
                                                        <span class="fa fa-angle-left">
                                                        </span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicatorsTwo" role="button" data-slide="next">
                                                        <span class="fa fa-angle-right">
                                                        </span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*Tregonwell Road*@
                    <div class="tab-pane" id="tregonwellroad" role="tabpanel">
                        @*<p>"TREGONWELL ROAD PROJECT"</p>*@
                        <div class="section pt-o" id="carousel-three">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 ml-auto mr-auto">
                                        <div class="card page-carousel">
                                            <div id="carouselExampleIndicatorsThree" class="carousel slide" data-ride="carousel">
                                                <ol class="carousel-indicators">
                                                    @for (int i = 0; i < Model.TregonwellRoadPictureVms.Count; i++)
                                                    {
                                                        <li data-target="#carouselExampleIndicatorsThree" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                                                    }
                                                </ol>
                                                <div class="carousel-inner" role="listbox">
                                                    @for (int i = 0; i < Model.TregonwellRoadPictureVms.Count; i++)
                                                    {
                                                        <div class="carousel-item @(i == 0 ? "active" : "")">
                                                            <img class="d-block img-fluid" src="@Model.TregonwellRoadPictureVms[i].Path" alt="First slide" />
                                                        </div>
                                                    }
                                                </div>
                                                <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicatorsThree" role="button" data-slide="prev">
                                                    <span class="fa fa-angle-left">
                                                    </span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicatorsThree" role="button" data-slide="next">
                                                    <span class="fa fa-angle-right">
                                                    </span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*Ponsford road*@
                    <div class="tab-pane" id="ponsfordroad" role="tabpanel">
                        @*<p>"PONSFORD ROAD PROJECT"</p>*@
                        <div class="section pt-o" id="carousel-four">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 ml-auto mr-auto">
                                        <div class="card page-carousel">
                                            <div id="carouselExampleIndicatorsFour" class="carousel slide" data-ride="carousel">
                                                <ol class="carousel-indicators">
                                                    @for (int i = 0; i < Model.PonsfordRoadPictureVms.Count; i++)
                                                    {
                                                        <li data-target="#carouselExampleIndicatorsFour" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                                                    }
                                                </ol>
                                                <div class="carousel-inner" role="listbox">
                                                    @for (int i = 0; i < Model.PonsfordRoadPictureVms.Count; i++)
                                                    {
                                                        <div style="text-align:center" class="project-img-wrapper carousel-item @(i == 0 ? "active" : "")">
                                                            <img style="max-height:600px; width:auto" class="d-block img-fluid project-img" src="@Model.PonsfordRoadPictureVms[i].Path" alt="First slide" />
                                                        </div>
                                                    }
                                                </div>
                                                <a class="left carousel-control carousel-control-prev" href="#carouselExampleIndicatorsFour" role="button" data-slide="prev">
                                                    <span class="fa fa-angle-left">
                                                    </span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="right carousel-control carousel-control-next" href="#carouselExampleIndicatorsFour" role="button" data-slide="next">
                                                    <span class="fa fa-angle-right">
                                                    </span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Projects end -->
        <!-- Contact me -->
        <a id="contact"></a>
        <div style="background-color: #eef1ef !important">
            <br />
            <br />
        </div>
        <div class="section profile-content">
            <div class="container">
                <div class="owner">
                    <div class="avatar">
                        @*<img src="../assets/img/tom-profile.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">*@
                    </div>
                    <div class="name">
                        <h4 class="title">
                            Tom Coates
                            <br />
                        </h4>
                        <h6 class="description">General Building & Carpentry</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <p>Please feel free to get in touch for an enquiries relating any carpentry, roofing, plastering, landscaping or fencing work. </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="text-center" style="color: #584f4a !important">Get in touch</h2>
                        <form asp-action="Index" class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label style="color: #584f4a !important">Name</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="nc-icon nc-single-02"></i>
                                            </span>
                                        </div>
                                        <input asp-for="EmailVm.Name" class="form-control" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label style="color: #584f4a !important">Email</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="nc-icon nc-email-85"></i>
                                            </span>
                                        </div>
                                        <input asp-for="EmailVm.EmailAddress" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <label style="color: #584f4a !important">Message</label>
                            <textarea asp-for="EmailVm.Message" class="form-control" rows="4" placeholder="Message..."></textarea>
                            <div class="row">
                                <div class="col-md-4 ml-auto mr-auto" style="text-align: center !important">
                                    <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="section landing-section">
        </div>
        <!-- End Contact me -->

</body>
</html>


